# API 서비스 URL 설정
PET_SERVICE_URL=http://localhost:8000
SNS_SERVICE_URL=http://localhost:8000

# 모델 설정
MODEL_NAME=BM-K/KoSimCSE-roberta

# CORS 설정
CORS_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

# HTTP 클라이언트 설정
HTTP_TIMEOUT=60.0

# 추천 설정
TOP_PETSTARS_COUNT=2

# 모델 설정
MAX_LENGTH=512
